@media (min-width: 769px) and (max-width: 1024px) {

    .center {
        padding-left: 32px;
        padding-right: 32px;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        &__title {
            width: 678px;
        }
    }

    .product {
        justify-content: center;
    }

    .game .revert {
        justify-content: center;
        flex-direction: column-reverse;
    }

    .game {
        &__season {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__info {
            margin-bottom: 62px;
        }

        &__title {
            margin-left: auto;
            margin-right: auto;
        }

        &__text {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        &__btn {
            margin-left: auto;
            margin-right: auto;
        }


    }

}


@media (min-width: 375px) and (max-width: 768px) {

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position-x: 31%;

        &__title {
            width: 343px;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            padding-top: 238px;
        }

        &__text {
            width: 343px;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            margin-top: 33px;

            &--strong {
                font-size: 14px;
                line-height: 22px;
            }
        }



        &__button {
            margin-top: 32px;
        }
    }

    .product {
        flex-direction: column;
        align-content: center;

        &__image {
            width: 343px;
            height: 300px;
        }

    }

    .game {
        &__season {
            flex-direction: column;
            padding-top: 51px;
            padding-bottom: 81px;
        }

        &__title {
            text-align: center;
            font-size: 32px;
            line-height: 39px;
            padding-top: 51px;
        }

        &__text {
            width: 300px;
            text-align: center;
            font-size: 14px;
            line-height: 22px;
            margin-left: auto;
            margin-right: auto;
        }

        &__img {
            width: 344px;
            height: 236px;
            margin-left: auto;
            margin-right: auto;
        }

        &__btn {
            margin: 32px auto 64px auto;
        }

        .revert {
            display: flex;
            flex-direction: column-reverse;
        }

    }
}