* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    background-image: url(img/background_top.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
}

.top__title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding-top: 217px;
    color: #FFFFFF;
    width: 788px;
}

.top__text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    width: 481px;
    margin-top: 32px;
}

.top__text--strong {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

.top__button {
    width: 234.06px;
    height: 48.6px;
    background: #9C0332;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border: none;
    margin-top: 44px;

    &:hover {
        cursor: url('img/cursor.svg'), pointer;
    }
}

.product {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    padding-top: 128px;
    padding-bottom: 128px;
    background: #000915;
}

.product__box {
    position: relative;
}

.product__link:hover {
    cursor: url('img/cursor.svg'), pointer;

}

.product__image:hover {

    box-shadow: 0 0 0 3px #44D2FF;
    border-radius: 16px;
}

.product__text {
    position: absolute;
    left: 32px;
    bottom: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.game {
    background-color: #000915;

    &__season {
        display: flex;
        justify-content: space-between;
        padding-bottom: 233px;
        padding-top: 233px;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;

    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
    }

    &__text {
        width: 584px;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        margin-top: 32px;
    }

    &__btn {
        width: 234.06px;
        height: 48.6px;
        background: #9C0332;
        border-radius: 30px;
        border: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 32px;

        &:hover {
            cursor: url('img/cursor.svg'), pointer;
        }
    }

    .revert {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

@import 'mobile';